*{
    padding:0;
    margin:0 ;
    box-sizing: border-box;
}
body{
    background-color: #ccc;
}
.container{
   width:900px;
    margin:0px auto;



}
.main_form{

    max-width:600px;
     padding:20px;
    background-color: white;
    margin:0 auto;
    margin-top:50px;
    border-radius: 20px;
    box-shadow: 

}